<nav class="menu col-md-2">
  <!-- <div style="border-bottom: 6px gray solid; height: 80px; background-color: beige;"> -->
  <h5>Menu</h5> 
<!-- </div> -->
  <ul>
    <li><a href="/users">Lista de usuários</a></li>
    <li><a href="/products">Lista todos os produtos</a></li>
    <li><a href="/products">Lista meus produtos cadastrados</a></li>
    <li><a href="/">Sair</a></li>
  </ul>
</nav>
