<nav class="menu col-md-2">
  <h5>Menu</h5>
  <ul>
    <li><a href="/customers">Lista de Clientes</a></li>
    <li><a href="/products">Lista de Produtos</a></li>
    <li><a href="#">Sair</a></li>
  </ul>
</nav>
