<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Cadastro de Usuários</title>
  </head>

  <body>
    
    <section class="col-md-10">
      <div class="container mt-5">
        <h2 class="mb-4">Cadastro de Cliente</h2>
        <form id="cadastroForm" method="POST" action="/users/add">
          <div class="form-group">
            <label for="nome">Nome:</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              placeholder="Digite seu nome"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">E-mail:</label>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              placeholder="Digite seu e-mail"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Senha:</label>
            <input
              type="password"
              class="form-control"
              name="password"
              id="email"
              placeholder="Digite sua senha"
              required
            />
          </div>
                       </div>
          <a href="/" class="btn btn-danger">Voltar</a>
          <!-- Adicionado o botão Voltar -->
          <button type="submit" class="btn btn-primary" onclick="showAlert()">
            Cadastrar
          </button>
        </form>
      </div>
    </section>
    <script>
      function showAlert() {
        alert("Usuário cadastrado com sucesso, no ID: <%= lastInsertedId %>!");
      }
    </script>
  </body>
</html>
